.DS_Store
*.mexmaci64
*.mexa64
*.o
*.log
*.slx.original
*.slxc
*.slx.r2019b
*.m~
SimscapeUDPTest.slx

.vscode

protobuflib
protomatlab
*Bus.m

*.pb.cc
*.pb.h
*Bus.h
*BusMethods.h
*BusMethods.cpp
*.descriptor

slprj
__pycache__